<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/5c039616-7c99-45b3-a3cd-1f0bedeacf1c/resourceGroups/ezra/providers/Microsoft.Web/sites/csvApi</ResourceId>
    <ResourceGroup>ezra</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://csvapi.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://csvapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$csvApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>